<div class="bottom-bar">
    <a href="#chat">
        <span class="icon"><i class="fas fa-comments"></i></span>
        Chat
      </a>
    <a href="#home">
<span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>      Home
    </a>
    <a href="#profile">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
    Profile
    </a>
  </div>