<nav class="navbar">
    <div class="left-nav">
        <a href="#" class="logo">Blood Daani</a>
    </div>
    <div class="right-nav">
        <% if(!userLoggedIn) {%>
        <a href="/signup">Register</a>
        <a href="/signin">Login</a>
        <% } else{ %>
        <a href="/profile">Profile</a>
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        <% } %>
    </div>
</nav>