<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/request.css">
    <link rel="stylesheet" href="/css/chatting.css">

    <script src="https://kit.fontawesome.com/1b792d3ec8.js" crossorigin="anonymous"></script>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyB5gpPpgiOxj-_RHUah9P5auYPtOqRMmqo",
          v: "weekly",
        });
      </script>
</head>
<body>
    <%- include('components/navbar')%>

    <div id="popupSuccess" class="popupSuccess">Search successful</div>

    <div id="popupContainer" class="popupContainer">
        <div class="popupContent">
            <h3>Select Blood Group and the area you want to search in</h3>
            <hr>
            <label for="bloodGroup">Blood Group</label>
            <select name="bloodGroup" id="bloodGroup" required>
                <option value="" disabled selected>Select your blood group</option>
                <option value="ANY">ANY BLOOD GROUP</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
            </select>
            <label for="radiusSlider">Location Radius (km): <span id="radiusValue">4 km</span></label>
            <input type="range" id="radiusSlider" min="1" max="14" value="4">

            <div class="map" id="map"></div>

            <button id="searchButton">Search Donors</button>
        </div>
    </div>

    <div class="quote-section">
        "When every second counts, connect with nearby donors – hope starts with a single match."
    </div>

    <div class="main-container">
        <div class="filters-column">
            <h2>Filter Donors</h2>
            <button class="showpopup" onclick="openMapPopup()">Select Location Radius</button>
           

        </div>

        <div class="donors-column" id="donorColumn">
           <div class="noDonorsFound">
                No Donors Found
           </div>
          
            <!-- <div class="donor-card">
                <h3>Donor Name: --</h3>
                <p>Blood Group: --</p>
                <p>Location: --</p>
                <p>Contact: --</p>
            </div>
            <div class="donor-card">
                <h3>Donor Name: --</h3>
                <p>Blood Group: --</p>
                <p>Location: --</p>
                <p>Contact: --</p>
            </div>
            <div class="donor-card">
                <h3>Donor Name: --</h3>
                <p>Blood Group: --</p>
                <p>Location: --</p>
                <p>Contact: --</p>
            </div>
            <div class="donor-card">
                <h3>Donor Name: --</h3>
                <p>Blood Group: --</p>
                <p>Location: --</p>
                <p>Contact: --</p>
            </div> -->
        </div>
    </div>

    <div id="loadingOverlay" class="loading-overlay">
        <div class="loadContainer">
            <div class="spinner"></div>
            <!-- Getting all the donors in one place... -->
             <div class="qod" id="qod"></div>
        </div>
        
    </div>
    

    <!-- <div class="popup-overlay" id="popup-overlay">
        <div class="popup">
            <span class="close-btn" onclick="closeMapPopup()">&times;</span>
            <h3>Select Location Radius</h3>
            <div id="map"></div>
        </div>
    </div> -->
    <%- include("components/bottom-bar") %>

    <script src="js/request.js"></script>
    
</body>
</html>