/* *{
    outline: rgb(80, 121, 18) solid 1px;
} */

:root {
  --lightBloodColor: rgb(218, 69, 69);
  --bgColor: rgb(229, 160, 160);
  --bloodColor: rgb(218, 57, 57);
  --oppBlood: white;
  --specialFont: "Joti One", cursive;
  --normalFont: "Inconsolata", monospace;
  --textColo: black;
  --extraShade6: rgb(77, 0, 0);
  --extraShade8: white;
  --extraShade9: rgb(78, 173, 252);
  --extraShade12: black;
  --extraShade10: rgb(96, 153, 238);
}

[data-theme="dark"] {
  --shade1: #363636;
  --shade2: rgb(38 38 38);
  --black-shade-1: rgb(12 12 12);
  --bg-color: #121212;
  --oppBlood: #e6e6e6;
  --textGlobal: white;
  --textColo: rgb(240, 235, 235);
  --extraShade6: var(--black-shade-1);
  --extraShade8: var(--shade2);
  --extraShade9: rgb(15 15 15);
  --extraShade12: var(--lightBloodColor);
  --extraShade10: rgb(63, 63, 63);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 187, 0);
}

nav {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.outsidePopup {
  width: 100%;
  height: 100%;
  position: absolute;
}
.popupContainer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 92%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: var(--extraShade8);
  width: 60%;
  height: 80%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1px;
}

#map {
  height: 80%;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  align-items: center;
}

.getLoc {
  background-color: rgb(78, 173, 252);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid rgb(96, 153, 238);
  padding: 9px 6px;
  cursor: pointer;
}

.popupContent input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.finalMapContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
}

.finalMapContainer button {
  background-color: rgb(78, 173, 252);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid rgb(96, 153, 238);
  padding: 9px 12px;
  cursor: disabled;
}

@media (width<800px) {
  .popupContent {
    width: 80%;
    height: 80%;
  }
  .popupContent input {
    width: 80%;
  }
  .finalMapContainer button {
    padding: 9px 6px;
  }
}

.popupContent h1,
.popupContent p,
.popupContent input {
  color: var(--textColo);
}

.buttonContainer button,
.finalMapContainer button {
  background-color: var(--extraShade9);
}

.buttonContainer button,
.finalMapContainer button {
  color: var(--extraShade12);
}

.buttonContainer button,
.finalMapContainer button {
  background-color: var(--extraShade9);
  border: 1px solid var(--extraShade10);
}

.finalMapContainer ::placeholder {
  color: var(--textColo);
}
