@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Inconsolata:wght@200..900&family=Joti+One&family=Rubik+Wet+Paint&display=swap');

:root{
    --lightBloodColor: rgb(218, 69, 69);
    --bloodColor: rgb(218, 57, 57);
    --oppBlood: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}

/* Initial Navbar Style */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--lightBloodColor);
    position: relative;
    transition: all 0.3s ease; /* For smooth transition when scroll triggers */
    top: 0;
    font-family: inconsolata;
    font-weight: 900;
    font-size: 1.2rem;
}

/* Sticky Effect */
.sticky {
    scale: 0.92;
    margin-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-left-radius: 30px;  /* Rounded bottom left */
    border-bottom-right-radius: 30px; /* Rounded bottom right */
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow effect */
}

.left-sticky{
    border-radius: 40px;
}


.left-nav {
    background-color: white;
    height: 100%;
    flex-basis: 35%; /* Controls how far the white part goes */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    font-family: joti one;
    /* Short rounded curve effect using clip-path */
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.right-nav {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.left-nav .logo {
    
    color: var(--bloodColor);
    font-size: 1.5em;
    font-weight: bold;
}

.right-nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.1em;
}

.right-nav a:hover {
    text-decoration: underline;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .left-nav {
        flex-basis: 45%; /* Adjust the width for smaller screens */
    }
}

.others{
    display: none;
    animation: 0.6s transist ease-in-out;
}


@keyframes transist{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

*{
    /* outline: rgb(240, 22, 22) solid 1px; */
}

.hero{
    height: 90vh;
    background-color: rgb(231, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-family: joti one;
    font-weight: 200;
}

.heroButtons{
    height: 9vh;
    width: 34vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.heroButtons button{
    height: 80%;
    width: 40%;
    background-color: var(--bloodColor);
    color: var(--oppBlood);
    border: none;
    border-radius: 10px;
    font-family: inconsolata;
    font-weight: 700;
    font-size: 50%;
}